<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kanishk-Portfolio</title>
    <link rel="icon" type="image/x-icon" href="./assests/logo.png" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="./index.html"><img src="./assests/logo.png" alt="logo" /></a>
      </div>
    </nav>
    <div class="home-hero">
      <h2>I'm a</h2>
      <h1>Front-End Developer.</h1>
      <a href="#cont" id="mainBtn"> Contact Me</a>
    </div>
    <div class="about">
      <h2>ABOUT</h2>
      <div class="about-content">
        <div class="photo">
          <img src="./assests/photo.png" alt="Kanishk Chaudhary" />
        </div>
        <div class="para">
          <p>
            Hello, I'm Kanishk Chaudhary, a 20-year-old based in Meerut, Uttar
            Pradesh, India. As a passionate front-end developer and designer, I
            thrive on creating visually appealing and user-friendly digital
            experiences. With a keen eye for design aesthetics and a strong
            technical skill set, I am dedicated to bringing innovative and
            engaging websites to life. My commitment to staying current with
            industry trends ensures that my work is not only functional but also
            cutting-edge. Let's connect and collaborate to bring your digital
            visions to reality!<br />
            <br />
          </p>
          <h3>Skills</h3>
          <p>
            HTML5 &nbsp&nbsp CSS3 &nbsp&nbsp Javascript &nbsp&nbsp React.js
            &nbsp&nbsp Java &nbsp&nbsp Figma &nbsp&nbsp Photoshop &nbsp&nbsp
            After-Effects &nbsp&nbsp DSA<br />
            <br />
          </p>
          <h3>Education</h3>
          <p>
            St Andrews Institute(Gurugram) :- B.Tech CSE | Sept 2021 →
            Present<br />
            <br />
            IIMT Academy(Meerut) :- 12th | Apr 2020 → Jul 2021 | Score :- 87.6%
            <br />
            <br />
          </p>
          <h3>Social Media</h3>
          <div class="p">
            <div>
              <p>
                Instagram:-
                <a href="https://www.instagram.com/play.with.incognito/"
                  >play.with.incognito</a
                >
              </p>
              <p>
                Github:-
                <a href="https://github.com/Kanishk-Chaudhary"
                  >Kanishk-Chaudhary</a
                >
              </p>
            </div>
            <div>
              <p>
                Linkedin:-
                <a href="https://www.linkedin.com/in/kanishk-chaudhary/"
                  >Kanishk-Chaudhary</a
                >
              </p>
              <p>
                Hackerrank:-
                <a href="https://www.hackerrank.com/profile/kanishk_chaudhar"
                  >kanishk-chaudhar</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="projects">
      <h2>Projects</h2>
      <div class="cards">
        <a href="https://github.com/Kanishk-Chaudhary" class="a">
          <div class="dev">
            <img src="assests/developing.jpg" />
            <h4>Developing</h4>
          </div>
        </a>
        <a href="https://in.pinterest.com/chaudharykanishk/" class="a">
          <div class="des">
            <img src="assests/Designing.JPG" />
            <h4>Designing</h4>
          </div>
        </a>
        <a href="#" class="a">
          <div class="edi">
            <img src="assests/editing.jpeg" />
            <h4>Video-Editing</h4>
          </div>
        </a>
      </div>
    </div>
    <section id="cont" class="contact">
      <h2>Contact</h2>
      <form class="contact-form" id="contact-form">
        <h4>Name</h4>
        <input
          type="text"
          name="name"
          id="nameInput"
          placeholder="Your name"
          required
        />
        <h4>Email id</h4>
        <input
          type="email"
          name="email"
          id="emailInput"
          placeholder="Your email id"
          required
        />
        <h4>Your Message</h4>
        <textarea
          id="messageInput"
          name="message"
          placeholder="Type your message here..."
          cols="30"
          rows="10"
          required
        ></textarea>
        <button type="submit" class="btn">Submit</button>
      </form>
    </section>

    <footer class="footer">
      <h2>It's not a bug, it's an undocumented feature.</h2>
      <br />
      <h2>Contact</h2>
      <div class="footer-h4">
        <h4>Email: <a href="mailto:opkanix@gmail.com">opkanix@gmail.com</a></h4>
        <h4>
          Instagram:-
          <a href="https://www.instagram.com/play.with.incognito/"
            >play.with.incognito
          </a>
        </h4>
        <h4>
          Linkedin:-
          <a href="https://www.linkedin.com/in/kanishk-chaudhary/"
            >Kanishk-Chaudhary</a
          >
        </h4>
        <br />
      </div>
      <div class="copyright">
        <p>Copyright © 2024 - Kanishk-Chaudhary</p>
      </div>
    </footer>
    <script>
      const API_URL = "<%= API_URL%>";
      const formRef = document.getElementById("contact-form");
      formRef.addEventListener("submit", (e) => {
        e.preventDefault();
        const form = new FormData(formRef);
        const formData = Object.fromEntries(form.entries());
        // console.log(formData);
        fetch(`${API_URL}/contact`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        })
          .then(() => formRef.reset())
          .catch((error) => console.error("Error:", error));
      });
    </script>
  </body>
</html>
