* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(34, 35, 34, 255);
}
.logo {
  margin-left: 100px;
}
.logo img {
  margin-top: 15px;
  width: 70px;
  height: 70px;
}
.home-hero {
  width: 100%;
  height: 700px;
  background-color: rgba(35, 35, 34, 255);
  background-image: url(./assests/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.home-hero h2 {
  color: rgba(73, 73, 73, 255);
  position: relative;
  top: 200px;
  margin-left: 300px;
  font-size: 3rem;
}
.home-hero h1 {
  color: white;
  position: relative;
  top: 200px;
  margin-left: 300px;
  font-size: 4rem;
}

#mainBtn {
  display: block;
  color: white;
  background-color: rgba(241, 106, 79, 255);
  margin-left: 300px;
  position: relative;
  top: 200px;
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  background-size: 300% 100%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
#mainBtn:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#mainBtn:hover {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
#mainBtn:active {
  scale: 95%;
}
.about {
  background-color: rgba(31, 31, 31, 255);
}

.about h2 {
  position: relative;
  text-align: center;
  font-size: 3rem;
  color: rgba(241, 106, 79, 255);
  position: relative;
  top: 30px;
}
.about h1 {
  font-size: 6rem;
  opacity: 10%;
  color: black;
  position: absolute;
  margin-left: 770px;
  user-select: none;
  top: 800px;
}
.about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  height: 700px;
}
.photo {
  margin-top: 50px;
  margin-left: 300px;
  height: 420px;
  border: solid #df654a 8px;
  transition: all 0.3s ease-in-out;
}

.photo img {
  top: -30px;
  position: relative;
  left: -30px;
  margin-bottom: 100px;
  width: 400px;
  height: 400px;
  transition: all 0.3s ease-in-out;
}

.para {
  margin-top: 50px;
  display: block;
  width: 900px;
  margin-right: 200px;
  font-size: 1.2rem;
}
.para h3 {
  color: #df654a;
  margin-bottom: 5px;
  font-size: 2rem;
}
.para p {
  color: white;
  font-size: 1.2rem;
}
.p {
  display: flex;
  gap: 5rem;
}
.p a {
  text-decoration: none;
  color: aqua;
  transition: all 0.3s ease-in-out;
}
.p a:hover {
  color: #df654a;
}
.projects {
  background-color: rgba(35, 35, 34, 255);
  height: 700px;
}

.projects h2 {
  position: relative;
  text-align: center;
  font-size: 3rem;
  color: rgba(241, 106, 79, 255);
  position: relative;
  top: 30px;
}
.projects h1 {
  font-size: 6rem;
  opacity: 10%;
  color: black;
  position: absolute;
  margin-left: 770px;
  user-select: none;
  top: 1650px;
}
.cards {
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  justify-content: space-between;
}
.dev {
  width: 300px;
  height: 400px;
  box-shadow: 0 0 25px #494949, 0 0 5px #202020;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.a {
  text-decoration: none;
}
.dev:hover {
  box-shadow: 0 0 25px #df654a, 0 0 5px #9c4633;
}
.dev img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  width: 280px;
  height: 280px;
}
.dev h4 {
  color: white;
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
}
.des {
  width: 300px;
  height: 400px;
  box-shadow: 0 0 25px #494949, 0 0 5px #202020;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.a {
  text-decoration: none;
}
.des:hover {
  box-shadow: 0 0 25px #df654a, 0 0 5px #9c4633;
}
.des img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  width: 280px;
  height: 280px;
}
.des h4 {
  color: white;
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
}
.edi {
  width: 300px;
  height: 400px;
  box-shadow: 0 0 25px #494949, 0 0 5px #202020;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.a {
  text-decoration: none;
}
.edi:hover {
  box-shadow: 0 0 25px #df654a, 0 0 5px #9c4633;
}
.edi img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  width: 280px;
  height: 280px;
}
.edi h4 {
  color: white;
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
}
.contact {
  background-color: rgba(31, 31, 31, 255);
  height: 700px;
}

.contact h2 {
  position: relative;
  text-align: center;
  font-size: 3rem;
  color: rgba(241, 106, 79, 255);
  position: relative;
  top: 30px;
}
.contact h1 {
  font-size: 6rem;
  opacity: 10%;
  color: black;
  position: absolute;
  user-select: none;
  margin-left: 770px;
  top: 2355px;
}
.contact-form {
  margin-left: 20%;
  margin-top: 50px;
  width: 60%;
  height: 500px;
}
.contact-form div {
  padding: 20px;
}
.contact-form h4 {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-left: 30px;
}
.contact-form input {
  all: unset;
  height: 40px;
  border-bottom: 1px solid rgb(48, 48, 48);
  margin-top: 5px;
  color: aliceblue;
  width: 100%;
  font-size: 15px;
  margin-left: 30px;
  transition: all 0.3s ease-in-out;
}

input:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
}
#messageInput {
  all: unset;
  width: 100%;
  border-bottom: 1px solid rgb(48, 48, 48);
  color: aliceblue;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}
#messageInput:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.btn {
  color: white;
  background-color: rgba(241, 106, 79, 255);
  margin-left: 500px;
  position: relative;
  top: 10px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  background-size: 300% 100%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn:active {
  scale: 95%;
}
.footer {
  background-color: #df654a;
  color: white;
  height: 250px;
}
.footer h2 {
  position: relative;
  top: 40px;
  margin-left: 300px;
}
.footer-h4 {
  margin-top: 40px;
  text-decoration: none;
  margin-left: 300px;
  line-height: 25px;
}
.footer-h4 a {
  text-decoration: none;
  color: aqua;
}
.copyright {
  text-align: center;
  font-size: small;
}
@media screen and (max-width: 400px) {
  .logo {
    margin-left: 10px;
  }
  .navbar-content ul {
    display: flex;
    gap: 2rem;
    margin-right: 20px;
  }
  .home-hero {
    height: 500px;
    background-image: url("./assests/hero-bg-385.png");
    background-repeat: no-repeat;
    background-position: 0px;
  }
  .home-hero h2 {
    margin-left: 30px;
    font-size: 1.5rem;
  }
  .home-hero h1 {
    margin-left: 30px;
    font-size: 2rem;
  }
  .home-hero button {
    margin-left: 30px;
  }
  .about {
    height: 1200px;
  }
  .about h1 {
    margin-left: 25px;
    top: 600px;
  }
  .about-content {
    display: block;
    height: 700px;
  }
  .photo {
    margin-left: 100px;
    height: 200px;
    width: 200px;
  }
  .photo img {
    width: 200px;
    height: 200px;
  }
  .para {
    width: 300px;
    margin-top: 30px;
    margin-left: 50px;
  }
  .para h3 {
    color: #df654a;
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
  .para p {
    color: white;
    font-size: 1rem;
  }
  .p {
    display: block;
    gap: 5rem;
  }
  .p a {
    text-decoration: none;
    color: aqua;
    transition: all 0.3s ease-in-out;
  }
  .p a:hover {
    color: #df654a;
  }
  .projects {
    background-color: rgba(35, 35, 34, 255);
    height: 1700px;
  }

  .projects h2 {
    position: relative;
    text-align: center;
    font-size: 3rem;
    color: rgba(241, 106, 79, 255);
    position: relative;
    top: 30px;
  }
  .projects h1 {
    font-size: 5rem;
    opacity: 10%;
    color: black;
    position: absolute;
    margin-left: 40px;
    top: 1800px;
  }
  .cards {
    display: block;
    margin-left: 50px;
    line-height: 20px;
  }
  .dev {
    box-shadow: 0 0 25px #df654a, 0 0 5px #9c4633;
  }
  .des {
    margin-top: 40px;
    box-shadow: 0 0 25px #df654a, 0 0 5px #9c4633;
  }
  .edi {
    margin-top: 40px;
    box-shadow: 0 0 25px #df654a, 0 0 5px #9c4633;
  }
  .contact {
    background-color: rgba(35, 35, 34, 255);
    height: 800px;
  }
  .contact {
    height: 650px;
  }
  .contact-form {
    margin-left: 35px;
    width: 325px;
  }
  .contact-form div {
    padding: 20px;
  }
  .contact-form h4 {
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 15px;
  }
  .contact-form input {
    margin-top: 5px;
    width: 90%;
    height: 30px;
    border: solid white 1px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 15px;
    background-color: transparent;
    color: aliceblue;
  }
  #textarea {
    width: 90%;
    resize: none;
    color: white;
    border: solid white 1px;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 10px;
    background-color: transparent;
  }
  .btn {
    color: white;
    background-color: rgba(241, 106, 79, 255);
    margin-left: 100px;
    position: relative;
    top: 10px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  .btn:active {
    scale: 95%;
  }
  .footer {
    height: 300px;
  }
  .footer h2 {
    margin-left: 65px;
  }
  .footer-h4 {
    margin-left: 65px;
  }
}
